@import "custom";
@import "spacebg";
@import "~bootstrap/scss/bootstrap";
@import "../fonts/fontawesome5/scss/fontawesome";
@import "../fonts/fontawesome5/scss/fa-solid";

$main-color1: #7eaa21;

/* Main styles */

html, body {
  height: 100%;
}

body {
  //perspective: 1000px;
}

.noop {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.cf {
  float: none;
  clear: both;
}

#bgndVideo {
  height: 100%;
  background-color: #111;
}

/* Sidebar */

.offside {
  position: fixed;

  top: 0;
  left: 0;
  width: 330px;
  height: 100%;
  //border: 1px solid red;

  overflow: hidden;
  transition: all .3s ease-in-out;

  .sideshadow {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    //box-shadow: inset 20px 0px 34px -9px rgba(0,0,0,0.75);}
    transition: all .3s ease-in-out;
  }

  button.offcanvas {
    position: absolute;
    top: 15px;
    left: 300px;
    z-index: 1;

    background: #f3eab8;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 8px 4px 1px;
    color: black;

    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    transition: all .3s ease-in-out;
  }

  .cover {
    position: relative;
    width: 300px;
    height: 100%;
    z-index: 2;
    background-color: #f3eab8;
    background-size: cover;
    //background-image: url(../images/sidebar.jpg);
    color: black;
    overflow: auto;
    direction: rtl;
    overflow-x: hidden;
    display: inline-flex;
    flex-direction: column;
    align-content: stretch;
    transition: all .3s ease-in-out;

    .logo {
      width: 220px;
      max-width: 400px;
      margin-left: 20px;
      margin-top: 10px;
      /* transition: all .5s ease-in-out 0s; */
    }

    .subtitle {
      color: $main-color1;
      font-weight: bold;
      margin: -10px 0 10px 25px;
    }

    div.mod-languages {
      position: absolute;
      top: 40px;
      right: 10px;
    }
    div.mod-languages img {
      width: 24px;
      margin: 5px 0;
    }
    div.mod-languages ul.lang-inline li {
      display: block;
    }
  }

  .cover * {
    direction: ltr;
  }
}

body.hide .offside {
  left: -300px;
  transition: all .3s ease-in-out;
}

.offside.level2 {
  width: 345px;
  .sideshadow {
    width: 315px;
  }
  button.offcanvas {
    background-color: #a89744;
    left: 315px;
  }
  .cover {
    background-color: #a89744;
    width: 315px;
    cursor: pointer;
  }

}

.offside.level3 {
  @extend .offside.level2;
  width: 360px;
  .sideshadow {
    width: 330px;
  }
  button.offcanvas {
    left: 330px;
  }
  .cover {
    width: 330px;
  }
}

.offside.level4 {
  @extend .offside.level2;
  width: 375px;
  .sideshadow {
    width: 345px;
  }
  button.offcanvas {
    left: 345px;
  }
  .cover {
    width: 345px;
  }
}

/* --------------------------------------------------------------------- */

#page-container {
  position: absolute;
  overflow-y: auto;
  left: 330px;
  right: 0;
  top: 0;
  height: 100%;

  transition: all .3s ease-in-out;
  //background: black;
}

body.hide #page-container {
  left: 40px;
}

@media screen and (max-width: 767px) {
  .offside {
    left: -300px;
    z-index: 10;
  }

  body.hide .offside {
    left: 0px;
  }

  #page-container {
    left: 30px;
    z-index: 1;
  }

}

/* For small screens -------------------------------------------------------------------------*/
@media screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
  .offside {
    left: -200px;
    width: 230px;
    .sideshadow {
      width: 200px;
    }

    button.offcanvas {
      left: 200px;
    }

    .cover {
      width: 200px;
      .logo {
        width: 120px;
      }
      div.mod-languages {
        position: absolute;
        top: 15px;
        right: 10px;
      }

    }
  }

  body.hide .offside {
    left: 0;
  }

  .offside.level2 {
    width: 245px;
    .sideshadow {
      width: 215px;
    }
    button.offcanvas {
      left: 215px;
    }
    .cover {
      width: 215px;
    }

  }

  .offside.level3 {
    width: 260px;
    .sideshadow {
      width: 230px;
    }
    button.offcanvas {
      left: 230px;
    }
    .cover {
      width: 230px;
    }
  }

  .offside.level4 {
    width: 275px;
    .sideshadow {
      width: 245px;
    }
    button.offcanvas {
      left: 245px;
    }
    .cover {
      width: 245px;
    }
  }

}

/* -----------------------------------------------------------------------------------------*/

// Main menu animation
.nav.menu > li {
  position: relative;
  display: block;
  width: 100%;
  left: -100%;
  animation: openmenu .3s .1s ease;
  animation-fill-mode: forwards;
}

@keyframes openmenu {
  from {
    left: -100%;
  }
  to {
    left: 0
  }
}

.nav.menu > li:nth-child(1) {
  animation-delay: .1s;
}

.nav.menu > li:nth-child(2) {
  animation-delay: .2s;
}

.nav.menu > li:nth-child(3) {
  animation-delay: .3s;
}

.nav.menu > li:nth-child(4) {
  animation-delay: .4s;
}

.nav.menu > li:nth-child(5) {
  animation-delay: .5s;
}

.nav.menu > li:nth-child(6) {
  animation-delay: .6s;
}

.nav.menu > li:nth-child(7) {
  animation-delay: .7s;
}

.nav.menu > li:nth-child(8) {
  animation-delay: .8s;
}

.nav.menu > li:nth-child(9) {
  animation-delay: .9s;
}

/* -------------------------------------------------------------------------- */

/* Navigation menu */

.nav.menu {
  z-index: 2;
  li > span, li > a {
    display: block;
    width: 100%;
    padding: 8px 8px 8px 16px;
    margin: 0px;
    border-top: 1px solid #b35b26;
    color: #b35b26;
    font-size: 1rem;
    background-color: #f3eab8;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-out;
    position: relative;

    &:hover {
      background-color: #b35b26;
      border-top: 1px solid #e88329;
      color: #FFF;
      box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.75);
    }

  }

  li.parent > span, li.parent > a {
    //font-family: FontAwesome;
    //content: "\f104";
    font-weight: bold;
    position: relative;

    &:before {
      position: absolute;
      left: 4px;
      top: 10px;
      font-size: 1.3rem;
      font-weight: normal;
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-caret-left);
    }
  }

  li.back > span {
    //font-family: FontAwesome;
    //content: "\f104";
    font-weight: bold;
    position: relative;
    text-align: right;
    padding: 6px 16px 8px 16px;

    &:after {
      position: absolute;
      right: 4px;
      top: 10px;
      font-size: 1.3rem;
      font-weight: normal;
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-caret-right);
    }
  }

  ul.nav-child {
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    z-index: 10;
    list-style-type: none;
    padding: 130px 0 0 0 !important;
    background-color: #f3eab8;
    background-image: url(../images/menu.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    transition: 0.2s ease-out;
    direction: rtl;
  }
  ul.nav-child > * {
    direction: ltr;
  }
  ul.nav-child.opened {
    left: 0;
    box-shadow: 4px 0px 8px -1px rgba(0, 0, 0, 0.75);
  }

  ul.inactive {
    background-image: none;
    background-color: #a89744;
    cursor: pointer;
  }
  ul.inactive.l2 {
    width: 315px;
  }
  ul.inactive.l3 {
    width: 330px;
  }
  ul.inactive.l4 {
    width: 345px;
  }

  li:last-child > span, li:last-child > a {
    border-bottom: 1px solid #b35b26;
  }

}

ul.inactive > li > span, ul.inactive > li > a {
  display: none !important;
}

/* For small screens -------------------------------------------------------------------------*/
@media screen and (max-width: 400px) {
  .nav.menu {
    ul.nav-child {
      left: -200px;
      width: 200px;
    }
    ul.inactive.l2 {
      width: 215px;
    }
    ul.inactive.l3 {
      width: 230px;
    }
    ul.inactive.l4 {
      width: 245px;
    }
    li.back > span {
      padding: 6px 16px 8px 16px;
      &:after {
        top: 8px;
      }
    }
  }
}

/* ------------------------------------------------------------------- */

.counterblock {
  display: flex;
  flex-grow: 1;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../images/flower.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100px;
  z-index: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .counterblock {
  }
}


.counterblock .counters {
  width: 100px;
  z-index: 1;
}

.counters img {
  width: 80px;
  height: 15px;
}

/* --------------------------------------------------------------------- */

.fly_container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 400px;
  perspective: 1500px;
  overflow: hidden;
}

.category_wall {
  position: absolute;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: all .5s ease-in-out;
  transition-delay: 0s;
  opacity: .3;
  overflow-y: auto;
  &:hover {
    transform: rotateY(0deg) scale3d(1, 1, 1);
    z-index: 100;
    transition-delay: .6s;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 1;
    .backpane {
      height: 0;
    }
    h2 {
      opacity: 1;
    }
    .fly {
      opacity: .8;
    }
  }
  .backpane {
    //border: 1px solid #1199FF;
    //background-color: #0000AA;
    //opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    transition-delay: .6s;
  }

  h2 {
    color: white;
    //opacity: .5;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .fly {
    //width: 100px;
    //margin: 10px;
    //float: left;
    //height: 50px;
    //background-color: red;
    transform-origin: 50% 50%;
    //transform: rotateY(45deg);
    transition: all .3s ease-in-out;
    overflow: hidden;
    a:first-child {
      display: block;
      background-color: white;
      border: 1px solid white;
      margin: 10px 0;
      overflow: hidden;
      transition: all .3s ease-in-out;
    }
    a:first-child img {
      border: 1px solid #555555;
      width: 104%;
      margin: -2%;
      transition: all .3s ease-in-out;
    }
    a.short_desc {
      position: absolute;
      top: 100%;
      padding: 15px 15px 15px 10px;
      transition: all .3s ease-in-out;
      text-decoration: none;
      color: black;
      h3 {
        color: $main-color1;
      }
    }
    dl.fields-container {
      display: none;
    }

    &:hover {
      opacity: 1;
      a:first-child img {
        filter: sepia(100%) blur(10px) brightness(180%);
        transform: scale(1.2);
      }
      a.short_desc {
        top: 0;
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .category_wall .fly:hover a img {
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);

  }
}


@media screen and (max-width: 1300px) {
  .category_wall h2 {
    font-size: 1.4rem;
  }
  .category_wall .fly  a.short_desc {
    font-size: .9rem;
    h3 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .category_wall .fly  a.short_desc {
    font-size: .8rem;
    h3 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .category_wall h2 {
    font-size: 1rem;
  }
  .category_wall .fly  a.short_desc {
    font-size: 1.2rem;
    h3 {
      font-size: 1.4rem;
    }
  }
}

.cw1 {
  left: -5%;
  top: -5%;
  width: 40%;
  min-width: 200px;
  height: 55%;
  z-index: 1;
  transform: rotateY(30deg) scale3d(.5, .5, .5);
  border: 1px solid #1199FF;
  background-color: #00007d;
}

.cw2 {
  left: 40%;
  top: 3%;
  width: 40%;
  min-width: 150px;
  height: 40%;
  z-index: 2;
  transform: rotateY(-40deg) scale3d(.4, .4, .4);
  border: 1px solid #eeb221;
  background-color: #896305;
}

.cw3 {
  left: 0%;
  top: 30%;
  width: 40%;
  min-width: 150px;
  height: 40%;
  z-index: 3;
  transform: rotateY(45deg) scale3d(.3, .3, .3);
  border: 1px solid #42d2d5;
  background-color: #2f8e89;
}

.cw4 {
  left: 35%;
  top: 25%;
  width: 40%;
  min-width: 100px;
  height: 40%;
  z-index: 4;
  transform: rotateY(-40deg) scale3d(.3, .3, .3);
  border: 1px solid #b41cbf;
  background-color: #642c72;
}

.cw5 {
  left: 4%;
  top: 44%;
  width: 40%;
  min-width: 100px;
  height: 40%;
  z-index: 5;
  transform: rotateY(50deg) scale3d(.2, .2, .2);
  border: 1px solid #50cc2b;
  background-color: #337a23;
}

.cw6 {
  left: 32%;
  top: 40%;
  width: 40%;
  min-width: 100px;
  height: 40%;
  z-index: 6;
  transform: rotateY(-40deg) scale3d(.2, .2, .2);
  border: 1px solid #d13add;
  background-color: #721670;
}

.cw7 {
  left: 30%;
  top: 50%;
  width: 40%;
  min-width: 100px;
  height: 40%;
  z-index: 6;
  transform: rotateY(-45deg) scale3d(.16, .16, .16);
  border: 1px solid #d8aa2e;
  background-color: #916414;
}

.cw8 {
  left: 28%;
  top: 57%;
  width: 40%;
  min-width: 100px;
  height: 40%;
  z-index: 6;
  transform: rotateY(-50deg) scale3d(.12, .12, .12);
  border: 1px solid #29d077;
  background-color: #137334;
}

.cw9 {
  left: 7%;
  top: 55%;
  width: 40%;
  min-width: 100px;
  height: 40%;
  z-index: 5;
  transform: rotateY(55deg) scale3d(.16, .16, .16);
  border: 1px solid #2c90d2;
  background-color: #133765;
}


/* -----------------------------------------------------------------------------------------*/

// Fly animation
.category_wall {
  margin-top: -150%;
  animation: flydown .6s .1s ease;
  animation-fill-mode: forwards;
}

@keyframes flydown {
  from {
    margin-top: -100%;
  }
  60% {
    margin-top: 5%;
  }
  80% {
    margin-top: -3%;
  }
  to {
    margin-top: 0;
  }
}

.cw1 {
  animation-delay: .1s;
}

.cw2 {
  animation-delay: .2s;
}

.cw3 {
  animation-delay: .3s;
}

.cw4 {
  animation-delay: .4s;
}

.cw5 {
  animation-delay: .5s;
}

.cw6 {
  animation-delay: .6s;
}

.cw7 {
  animation-delay: .7s;
}

.cw8 {
  animation-delay: .8s;
}

.cw9 {
  animation-delay: .9s;
}
