@import "custom";
@import "spacebg";
@import "~bootstrap/scss/bootstrap";
@import "../fonts/fontawesome5/scss/fontawesome";
@import "../fonts/fontawesome5/scss/fa-solid";

$main-color1: #7eaa21;

/* Main styles */

html, body {
  height: 100%;
}

body {
  perspective: 1000px;
}

.noop {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.cf {
  float: none;
  clear: both;
}

#bgndVideo {
  height: 100%;
  background-color: #111;
}

/* Sidebar */

.offside {
  position: fixed;

  top: 0;
  left: 0;
  width: 330px;
  height: 100%;
  //border: 1px solid red;

  overflow: auto;
  transition: all .3s ease-in-out;

  .sideshadow {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    //box-shadow: inset 20px 0px 34px -9px rgba(0,0,0,0.75);}
    transition: all .3s ease-in-out;
  }

  button.offcanvas {
    position: absolute;
    top: 15px;
    left: 300px;

    background: #f3eab8;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 8px 4px 1px;
    color: black;

    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    transition: all .3s ease-in-out;
  }

  .cover {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #f3eab8;
    background-size: cover;
    //background-image: url(../images/sidebar.jpg);
    color: black;
    overflow: auto;
    direction: rtl;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;

    .logo {
      width: 220px;
      max-width: 400px;
      margin-left: 20px;
      margin-top: 10px;
      /* transition: all .5s ease-in-out 0s; */
    }

    .subtitle {
      color: $main-color1;
      font-weight: bold;
      margin: -10px 0 10px 25px;
    }

    div.mod-languages {
      position: absolute;
      top: 40px;
      right: 10px;
    }
    div.mod-languages ul.lang-inline li {
      display: block;
    }
  }

  .cover * {
    direction: ltr;
  }

}

body.hide .offside {
  left: -300px;
  transition: all .3s ease-in-out;
}

.offside.level2 {
  width: 345px;

  .sideshadow {
    width: 315px;
  }

  button.offcanvas {
    background-color: #a89744;
    left: 315px;
  }
  .cover {
    background-color: #a89744;
    width: 315px;
  }

}

.offside.level3 {
  width: 360px;
  .sideshadow {
    width: 330px;
  }
  button.offcanvas {
    background-color: #a89744;
    left: 330px;
  }
  .cover {
    background-color: #a89744;
    width: 330px;
  }
}

.offside.level4 {
  width: 375px;
  .sideshadow {
    width: 345px;
  }
  button.offcanvas {
    background-color: #a89744;
    left: 345px;
  }
  .cover {
    background-color: #a89744;
    width: 345px;
  }
}

/* --------------------------------------------------------------------- */

#page-container {
  position: absolute;
  overflow-y: auto;
  left: 340px;
  right: 0;
  top: 0;
  height: 100%;

  transition: all .3s ease-in-out;
  //background: black;
}

body.hide #page-container {
  left: 40px;
}

@media screen and (max-width: 767px) {
  .offside {
    left: -300px;
    z-index: 10;
  }

  body.hide .offside {
    left: 0px;
  }

  #page-container {
    left: 40px;
    z-index: 1;
  }

}

/* -----------------------------------------------------------------------------------------*/

// Main menu animation
.nav.menu > li {
  position: relative;
  display: block;
  width: 100%;
  left: -100%;
  animation: openmenu .3s .1s ease;
  animation-fill-mode: forwards;
}

@keyframes openmenu {
  from {
    left: -100%;
  }
  to {
    left: 0
  }
}

.nav.menu > li:nth-child(1) {
  animation-delay: .1s;
}

.nav.menu > li:nth-child(2) {
  animation-delay: .2s;
}

.nav.menu > li:nth-child(3) {
  animation-delay: .3s;
}

.nav.menu > li:nth-child(4) {
  animation-delay: .4s;
}

.nav.menu > li:nth-child(5) {
  animation-delay: .5s;
}

.nav.menu > li:nth-child(6) {
  animation-delay: .6s;
}

.nav.menu > li:nth-child(7) {
  animation-delay: .7s;
}

.nav.menu > li:nth-child(8) {
  animation-delay: .8s;
}

.nav.menu > li:nth-child(9) {
  animation-delay: .9s;
}

/* -------------------------------------------------------------------------- */

/* Navigation menu */

.nav.menu {
  li > span, li > a {
    display: block;
    width: 100%;
    padding: 8px 8px 8px 16px;
    margin: 0px;
    border-top: 1px solid #b35b26;
    color: #b35b26;
    font-size: 1rem;
    background-color: #f3eab8;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-out;

    &:hover {
      background-color: #b35b26;
      border-top: 1px solid #e88329;
      color: #FFF;
      box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.75);
    }

  }

  li.parent > span, li.parent > a {
    //font-family: FontAwesome;
    //content: "\f104";
    font-weight: bold;
    position: relative;

    &:before {
      position: absolute;
      left: 2px;
      top: 10px;
      font-size: 1.3rem;
      font-weight: normal;
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-caret-left);
    }
  }

  li.back > span {
    //font-family: FontAwesome;
    //content: "\f104";
    font-weight: bold;
    position: relative;
    text-align: right;
    padding: 8px 16px 8px 16px;

    &:after {
      position: absolute;
      right: 2px;
      top: 10px;
      font-size: 1.3rem;
      font-weight: normal;
      @include fa-icon;
      @extend .fas;
      content: fa-content($fa-var-caret-right);
    }
  }

  ul.nav-child {
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 10;
    list-style-type: none;
    padding: 130px 0 0 0 !important;
    background-color: #f3eab8;
    background-image: url(../images/menu.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    transition: 0.2s ease-out;
  }
  ul.nav-child.opened {
    left: 0;
    box-shadow: 4px 0px 8px -1px rgba(0, 0, 0, 0.75);
  }

  ul.inactive {
    background-image: none;
    background-color: #a89744;
  }
  ul.inactive.l2 {
    width: 315px;
  }
  ul.inactive.l3 {
    width: 330px;
  }
  ul.inactive.l4 {
    width: 345px;
  }

  li:last-child > span, li:last-child > a {
    border-bottom: 1px solid #b35b26;
  }

}

ul.inactive > li > span, ul.inactive > li > a {
  display: none !important;
}

/* ------------------------------------------------------------------- */

.counterblock {
  position: relative;
  flex: 1;
  background-image: url(../images/flower.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  min-height: 100px;
}

.counterblock .counters {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 100px;
}

.counters img {
  width: 80px;
  height: 15px;
}

