@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "../fonts/fontawesome5/scss/fontawesome";

/* Main styles */

html, body {
  height: 100%;
}

body {
  perspective: 1000px;
}

.noop {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.cf {
  float: none;
  clear: both;
}

/* Sidebar */

.offside {
  position: fixed;

  top: 0;
  left: 0;
  width: 340px;
  height: 100%;
  border: 1px solid red;

  overflow: auto;
  transition: all .3s ease-in-out;
}

body.hide .offside {
  left: -300px;
}

.offside .sideshadow {
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;

  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  //-webkit-box-shadow: inset 20px 0px 34px -9px rgba(0,0,0,0.75);
  //-moz-box-shadow: inset 20px 0px 34px -9px rgba(0,0,0,0.75);
  //box-shadow: inset 20px 0px 34px -9px rgba(0,0,0,0.75);}
}

.offside button.offcanvas {
  position: absolute;
  top: 20px;
  left: 300px;

  background: #e1ffc0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  color: black;

  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  transition: all .3s linear;
}

.offside .cover {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #e1ffc0;
  background-size: cover;
  color: black;
  overflow: auto;
  direction: rtl;
}

.offside .cover * {
  direction: ltr;
}

.offside .cover .logo {
  width: 70%;
  max-width: 400px;

  margin-left: 15%;
  margin-top: 10px;
  /* transition: all .5s ease-in-out 0s; */
}

#page-container {
  position: absolute;
  left: 340px;
  right: 0;
  top: 0;
  height: auto;
  min-height: 100%;

  transition: all .3s ease-in-out;
  //background: black;
}

body.hide #page-container {
  left: 40px;
}

@media screen and (max-width: 767px) {
  .offside {
    left: -300px;
    z-index: 10;
  }

  body.hide .offside {
    left: 0px;
  }

  #page-container {
    left: 40px;
    z-index: 1;
  }

}

.nav.menu > li {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 8px;
  border: 1px solid blue;
}